<h1>Welcome to Order Management App</h1>

<h3> There are <%= @category_amount %> categories and <%= @order_amount %> orders in this app! </h3>
<p> Checkout orders and categories in detail from below links!</p>

<%= link_to "See Orders", orders_path %><br/>
<%= link_to "See Categories", categories_path %>